[submodule "upstream/sherpa-onnx"]
	path = upstream/sherpa-onnx
	url = https://github.com/sumimakito/sherpa-onnx.git
	branch = feat/wasm-selective-preload
	shallow = true
[submodule "sherpa-onnx/upstream"]
	path = sherpa-onnx/upstream
	url = https://github.com/k2-fsa/sherpa-onnx
	branch = master
	shallow = true
[submodule "models/huggingface/sherpa-onnx-streaming-zipformer-ar_en_id_ja_ru_th_vi_zh-2025-02-10"]
	path = models/huggingface/sherpa-onnx-streaming-zipformer-ar_en_id_ja_ru_th_vi_zh-2025-02-10
	url = https://huggingface.co/moeru-ai/sherpa-onnx-streaming-zipformer-ar_en_id_ja_ru_th_vi_zh-2025-02-10
	branch = main
[submodule "models/huggingface/sherpaw-paraformer-zh-en"]
	path = models/huggingface/sherpaw-paraformer-zh-en
	url = https://huggingface.co/moeru-ai/sherpaw-paraformer-zh-en
	branch = main
[submodule "models/huggingface/sherpaw-zipformer-zh-en-2023-02-20"]
	path = models/huggingface/sherpaw-zipformer-zh-en-2023-02-20
	url = https://huggingface.co/moeru-ai/sherpaw-zipformer-zh-en-2023-02-20
	branch = main
[submodule "models/huggingface/sherpaw-campplus-zh-en-advanced"]
	path = models/huggingface/sherpaw-campplus-zh-en-advanced
	url = https://huggingface.co/moeru-ai/sherpaw-campplus-zh-en-advanced
	branch = main
[submodule "models/huggingface/sherpaw-eres2netv2-zh-cn"]
	path = models/huggingface/sherpaw-eres2netv2-zh-cn
	url = https://huggingface.co/moeru-ai/sherpaw-eres2netv2-zh-cn
	branch = main
[submodule "models/huggingface/sherpa-onnx-kws-zipformer-zh-en-3M-2025-12-20"]
	path = models/huggingface/sherpa-onnx-kws-zipformer-zh-en-3M-2025-12-20
	url = https://huggingface.co/moeru-ai/sherpa-onnx-kws-zipformer-zh-en-3M-2025-12-20
	branch = main
[submodule "models/huggingface/sherpa-onnx-kws-zipformer-wenetspeech-3.3M-2024-01-01"]
	path = models/huggingface/sherpa-onnx-kws-zipformer-wenetspeech-3.3M-2024-01-01
	url = https://huggingface.co/moeru-ai/sherpa-onnx-kws-zipformer-wenetspeech-3.3M-2024-01-01
	branch = main
